*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

///////////////////////////////////////////////

.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .butonBody{
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border: none;
    bottom: 24%;
    box-shadow:
    9.8px 5.5px 4.9px rgba(0, 0, 0, 0.061),
    33.1px 18.5px 16.5px rgba(0, 0, 0, 0.089),
    148px 83px 74px rgba(0, 0, 0, 0.15);
    background-color: rgb(60, 101, 214);
    a{
        text-decoration: none;
        font-size: 16px;
        color: white;
    }
  }

//////////////////////////////////////////////////////

.modo-oscuro{
    color: white!important;
    background-color:rgb(37, 35, 35);
    .body{
       background-color:rgb(37, 35, 35)!important;; 
    }
    .elegido{
        color:rgb(37, 35, 35)!important;
        text-shadow: none!important;
    }
    h2{
        color: rgb(37, 35, 35) !important;
        background-color: lightgrey;
    }
    h3{
        color: lightgrey !important;
        background-color:rgb(37, 35, 35);
    }
    .btn-agregar{
        color:rgb(37, 35, 35)!important;
        &:hover{
            background-color: rgb(37, 35, 35)!important;
            color: white!important;
        }
    }
    .container-producto{
        background-color:rgb(37, 35, 35)!important;
    }
    .login-registro{
        border: 3px solid rgb(37, 35, 35);
        background-color: lightgray;
 
        h3{
            color:rgb(37, 35, 35)!important;
            background-color: lightgray;
        }

        form{
            input{
                border: 2px solid gray!important;
            }
            p{
                color: rgb(37, 35, 35)!important;
            }
        }

        
    }
    #iniciar-registrado{
        border: 3px solid rgb(37, 35, 35)!important;
        background-color: lightgray;
 
        h3{
            color:rgb(37, 35, 35)!important;
            background-color: lightgray;
        }
        form{
            input{
                border: 2px solid gray!important;
            }
            p{
                color: rgb(37, 35, 35)!important;
            }
        }
    } 
}
.modo-oscuro-main{
    background-color: lightgrey;
}



.body{
    display: flex;
    background-color: rgba(32, 25, 136, 0.822);
}
header{
    background-color: rgba(73, 66, 145, 0.863);
    height: 100vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .aside{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h1{
            color: rgb(255, 255, 255);
            font-size: 36px;
            margin-left: 50px;
            text-shadow: 3px 2px 5px rgba(0,0,0,0.67);
        }
        ul{
            margin-left: -30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 300px;
            li{
                color: white;
                margin-left: 70px;
                font-size: 20px;
                list-style: none;
                display: flex;
                align-items: center;
                margin-top: 20px;
                cursor: pointer;
                text-shadow: 1px 3px 5px rgba(0,0,0,0.6);
                }
                i{
                    width: 26px;
                    margin-right: 10px;

                }
                span{
                    background-color: white;
                    color:rgba(32, 25, 136, 0.527);
                    padding: 4px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    border-radius: 6px;
                    margin-left: 10px;
                }
                .li-oscuro{
                    font-size: 18px;
                }

            .carrito{
                margin-top: 50px;
                a{
                    text-decoration: none;
                    color: white;

                }
            }
            .contacto{
                margin-top: 50px;
                a{
                    text-decoration: none;
                    color: white;

                }
            }
            .interruptor{
                position: relative;
                display: inline-block;
                width: 36px;
                height: 18px;
                margin-top: 8px;
                margin-left: 10px;
                background-color: white;
                border-radius: 40px;
                cursor: pointer;
            }
            .interruptor::after{
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                border-radius: 30px;
                background-color:  rgba(73, 66, 145, 0.863);
                left: 1px;
                top: 1px;
                transition: all 0.4s;
            }
            input[type='checkbox']:checked + .interruptor:after {
                transform: translateX(18px);
                background-color:  rgb(37, 35, 35);
              }
              
              input[type='checkbox']:checked + .interruptor {
                background-color: white
              }
              .esconder{
                display: none;
              }

            }
            
            .cierra{
                font-size: 16px;
            }
            .cierra:hover{
                text-decoration: underline;
            }
            .elegido{
                padding: 10px;
                border-bottom-left-radius: 12px;
                border-top-left-radius:12px;
                background-color: white;
                color: rgba(32, 25, 136, 0.822);
                font-weight: 600;
                text-shadow: none!important;
                position: relative;
            }
            .elegido::before{
                content: "";
                position: absolute;
                width: 1rem;
                height: 2rem;
                bottom: 100%;
                right: 0;
                background-color: transparent;
                border-bottom-right-radius: 0.5rem;
                box-shadow: 0 1rem 0 rgb(255, 255, 255);

            }
            .elegido::after{
                content: "";
                position: absolute;
                width: 1rem;
                height: 2rem;
                top: 100%;
                right: 0;
                background-color: transparent;
                border-top-right-radius: 10px;
                box-shadow: 0 -1rem 0 rgb(255, 255, 255);

            }
            .derechos{
                display: flex;
                max-width: 80%;
                justify-content: space-evenly;
                margin-top: 180px;
                text-decoration: none;
                margin-left: 8px;
                i{
                    color: white;
                    font-size: 18px;
                }
            }

        }

    }

    

main{
    background-color: white;
    height: auto;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    padding-left: 50px;
    .login-form{
        display: flex;
        flex-direction: column;
    }
    .login-registro{
        height: 500px;
        width: 800px;
        background-color: white;
        border: 4px solid rgb(59, 52, 153);
        position: absolute;
        margin-left: 20%;
        margin-top: 50px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow:
        12.5px 10.1px 12px rgba(0, 0, 0, 0.19),
        100px 81px 96px rgba(0, 0, 0, 0.095);
        
        img{
            width: 100px;
            height: 100px;
            text-align: center;
            margin-top: 50px;
        }
        h2{
            margin-top: 10px;
            font-size: 35px;
            text-shadow: 1px 3px 5px rgba(0,0,0,0.3);
        }
        h3{
            font-size: 20px;
            margin-left: 60px;
            color: rgba(0, 0, 0, 0.589);
            text-shadow: 1px 3px 5px rgba(0,0,0,0.3);
        }
        .aclaracion{
            font-size: 14px;
            width: 400px;
            margin-left: 25%;
            margin-bottom: 10px;
            color: rgba(0, 0, 0, 0.788);
        }  
        .login-form{
            margin-top: 20px;
            input{
                width: 200px;
                height: 24px;
                border-radius: 5px;
                border: 2px solid rgb(107, 105, 105);
                padding: 12px;
                margin-bottom: 10px;
            }
            .button{
                input{
                    padding: 0;
                    height: 30px;
                    width: 100px;
                    border: 2px solid rgba(79, 52, 153, 0.897);
                    background-color: white;
                    box-shadow:
                    12.5px 10.1px 12px rgba(0, 0, 0, 0.19),
                    100px 81px 96px rgba(0, 0, 0, 0.095);
                }
            }
            
        }
    }

    .login-registrado{
        height: 500px;
        width: 800px;
        background-color: white;
        border: 4px solid rgb(59, 52, 153);
        position: absolute;
        margin-left: 20%;
        margin-top: 50px;
        border-radius: 10px;
        text-align: center;
        display: none;
        flex-direction: column;
        box-shadow:
        12.5px 10.1px 12px rgba(0, 0, 0, 0.19),
        100px 81px 96px rgba(0, 0, 0, 0.095);
        img{
            width: 100px;
            height: 100px;
            text-align: center;
            margin-top: 50px;
        }
        h2{
            margin-top: 10px;
            font-size: 35px;
            text-shadow: 1px 3px 5px rgba(0,0,0,0.3);
        }
        h3{
            font-size: 20px;
            margin-left: 60px;
            color: rgba(0, 0, 0, 0.589);
            text-shadow: 1px 3px 5px rgba(0,0,0,0.3);
        }
        .login-form{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                width: 200px;
                height: 24px;
                border-radius: 5px;
                border: 2px solid rgb(107, 105, 105);
                padding: 12px;
                margin-bottom: 10px;
            }
            .incorrecto{
                color: red;
                margin-bottom: 8px;
                display: none;
                
                }
            }
            .button{
                input{
                    padding: 0;
                    height: 30px;
                    width: 100px;
                    border: 2px solid rgba(79, 52, 153, 0.897);
                    background-color: white;
                    box-shadow:
                    12.5px 10.1px 12px rgba(0, 0, 0, 0.19),
                    100px 81px 96px rgba(0, 0, 0, 0.095);
                }
            }
            
        }
    }




    .body-ecomercce{
        display: none;
        .productos{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .titulos-usuario{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;

            h2{
                margin-left: 12px;
                margin-top: 20px;
                margin-bottom: 40px;
                color:rgba(32, 25, 136, 0.822);
                font-size: 34px;
                text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.315);

            }

            .user{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 50px;
                .modo-oscuro{
                    color: white;
                }
                p{
                    font-size: 20px;
                    color:black;
                    font-weight: 400;
                    margin-top: 8px;
                    span{
                        font-weight: 600;
                        margin-left: 5px;
                    }
                }
                img{
                    width: 38px;
                }
            }
        }
        


        .container-producto{
            background-color: rgba(32, 25, 136, 0.774);
            width: 280px;
            height: 370px;
            border: 2px solid rgba(0, 0, 0, 0);
            border-radius: 10px;
            margin-left: 10px;
            margin-bottom: 40px;
            box-shadow:
                12.5px 10.1px 12px rgba(0, 0, 0, 0.19),
                100px 81px 96px rgba(0, 0, 0, 0.095);
                img{
                    width: 276px;
                    height:280px;
                    border-radius: 10px;
                    object-fit: cover;
                }
                h3{
                    color: white;
                    margin-left: 5px;
                    text-shadow: 3px 2px 5px rgba(0,0,0,0.67);
                }
                h4{
                    color: white;
                    margin-left: 5px;
                    font-weight: 300;
                    text-shadow: 3px 2px 5px rgba(0,0,0,0.67);
                }
                .cont-button{
                    display: flex;
                    justify-content: center;
                    .btn-agregar{
                        padding-top: 4px;
                        padding-bottom: 4px;
                        width: 200px;
                        color: rgba(32, 25, 136, 0.774);
                        background-color: white;
                        border: none;
                        border-radius: 10px;
                        margin-top: 4px;
                        font-weight: 600;
                        cursor: pointer;
                        transition: 0.2s ;
                        &:hover{
                            color:white;
                            background-color: rgba(58, 25, 136, 0.774);
                            border: 1px solid rgb(192, 190, 190);

                        }
                    }
                }

    
        }



       


    
}
    
    
    
    



