* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.modo-oscuro {
  color: white !important;
  background-color: rgb(37, 35, 35);
}
.modo-oscuro .body {
  background-color: rgb(37, 35, 35) !important;
}
.modo-oscuro .elegido {
  color: rgb(37, 35, 35) !important;
  text-shadow: none !important;
}
.modo-oscuro h2 {
  color: rgb(37, 35, 35) !important;
  background-color: lightgrey;
}
.modo-oscuro h3 {
  color: lightgrey !important;
  background-color: rgb(37, 35, 35);
}
.modo-oscuro .container-producto {
  background-color: rgb(37, 35, 35) !important;
}
.modo-oscuro .login-registro {
  border: 3px solid rgb(37, 35, 35);
  background-color: lightgray;
}
.modo-oscuro .login-registro h3 {
  color: rgb(37, 35, 35) !important;
  background-color: lightgray;
}
.modo-oscuro .login-registro form input {
  border: 2px solid gray !important;
}
.modo-oscuro .login-registro form p {
  color: rgb(37, 35, 35) !important;
}
.modo-oscuro #iniciar-registrado {
  border: 3px solid rgb(37, 35, 35) !important;
  background-color: lightgray;
}
.modo-oscuro #iniciar-registrado h3 {
  color: rgb(37, 35, 35) !important;
  background-color: lightgray;
}
.modo-oscuro #iniciar-registrado form input {
  border: 2px solid gray !important;
}
.modo-oscuro #iniciar-registrado form p {
  color: rgb(37, 35, 35) !important;
}
.modo-oscuro .titles {
  color: rgb(37, 35, 35) !important;
}
.modo-oscuro h3 {
  background-color: transparent !important;
  color: rgb(37, 35, 35) !important;
}
.modo-oscuro .lista-contacto {
  color: rgb(37, 35, 35) !important;
}
.modo-oscuro .container-inputs {
  color: rgb(37, 35, 35) !important;
}
.modo-oscuro .p-inputs {
  color: rgb(37, 35, 35) !important;
}
.modo-oscuro button {
  background-color: gray !important;
  border: none !important;
  color: rgb(37, 35, 35) !important;
}
.modo-oscuro .footer {
  background-color: rgb(37, 35, 35) !important;
}

.modo-oscuro-main {
  background-color: lightgrey;
}

.body {
  display: flex;
  background-color: rgba(32, 25, 136, 0.822);
}

header {
  background-color: rgba(73, 66, 145, 0.863);
  height: 100vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .aside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header .aside h1 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  margin-left: 50px;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.67);
}
header .aside ul {
  margin-left: -30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
header .aside ul li {
  color: white;
  margin-left: 70px;
  font-size: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.6);
}
header .aside ul i {
  width: 26px;
  margin-right: 10px;
}
header .aside ul span {
  background-color: white;
  color: rgba(32, 25, 136, 0.527);
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 6px;
  margin-left: 10px;
}
header .aside ul .li-oscuro {
  font-size: 18px;
}
header .aside ul a {
  text-decoration: none;
  color: white;
}
header .aside ul .carrito {
  margin-top: 50px;
}
header .aside ul .contacto {
  margin-top: 50px;
}
header .aside ul .interruptor {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  margin-top: 8px;
  margin-left: 10px;
  background-color: white;
  border-radius: 40px;
  cursor: pointer;
}
header .aside ul .interruptor::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 30px;
  background-color: rgba(73, 66, 145, 0.863);
  left: 1px;
  top: 1px;
  transition: all 0.4s;
}
header .aside ul input[type=checkbox]:checked + .interruptor:after {
  transform: translateX(18px);
  background-color: rgb(37, 35, 35);
}
header .aside ul input[type=checkbox]:checked + .interruptor {
  background-color: white;
}
header .aside ul .esconder {
  display: none;
}
header .aside .cierra {
  font-size: 16px;
  margin-bottom: 50px;
}
header .aside .cierra:hover {
  text-decoration: underline;
}
header .aside .elegido {
  padding: 10px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  background-color: white;
  color: rgba(32, 25, 136, 0.822);
  font-weight: 600;
  text-shadow: none !important;
  position: relative;
}
header .aside .elegido span {
  color: white;
  background-color: rgba(42, 36, 126, 0.822);
  font-weight: 400;
}
header .aside .elegido::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  background-color: transparent;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 1rem 0 rgb(255, 255, 255);
}
header .aside .elegido::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: 10px;
  box-shadow: 0 -1rem 0 rgb(255, 255, 255);
}
header .aside .derechos {
  color: gray;
  margin-left: 10px;
  margin-top: 60px;
}

main {
  background-color: white;
  height: auto;
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  padding-left: 50px;
}

.body-ecomercce {
  display: block;
}
.body-ecomercce .productos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.body-ecomercce .titulos-usuario {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  margin-bottom: 60px;
  margin-top: 10px;
}
.body-ecomercce .titulos-usuario h2 {
  margin-left: 12px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: rgba(32, 25, 136, 0.822);
  font-size: 34px;
  text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.315);
}
.body-ecomercce .titulos-usuario .user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.body-ecomercce .titulos-usuario .user .modo-oscuro {
  color: white;
}
.body-ecomercce .titulos-usuario .user p {
  font-size: 20px;
  color: black;
  font-weight: 400;
  margin-top: 8px;
}
.body-ecomercce .titulos-usuario .user p span {
  font-weight: 600;
  margin-left: 5px;
}
.body-ecomercce .titulos-usuario .user img {
  width: 38px;
}

.contacto {
  display: block;
}
.contacto .titles {
  display: flex;
  justify-content: space-around;
  margin-right: 160px;
  color: rgba(32, 25, 136, 0.822);
}
.contacto h3 {
  margin-left: 100px;
  font-size: 46px;
}
.contacto h4 {
  font-size: 30px;
  margin-top: auto;
}
.contacto .info {
  display: flex;
}
.contacto .lista-contacto {
  list-style: none;
  margin-top: 20px;
  margin-left: 60px;
}
.contacto .lista-contacto li {
  margin-top: 30px;
}
.contacto .lista-contacto li i {
  font-style: normal;
  display: flex;
  flex-direction: row;
}
.contacto .lista-contacto li p {
  margin-left: 10px;
}
.contacto .p-inputs {
  font-size: 20px;
  margin-left: 100px;
  margin-top: 10px;
}
.contacto .container-inputs {
  display: flex;
  flex-direction: column;
  margin-left: 160px;
}
.contacto .container-inputs input {
  border: 1px solid lightgrey;
  border-radius: 4px;
}
.contacto .container-inputs .nombre {
  display: flex;
  margin-top: 20px;
}
.contacto .container-inputs .nombre label {
  margin-right: 10px;
}
.contacto .container-inputs input {
  margin-right: 10px;
}
.contacto .container-inputs label {
  margin-right: 10px;
}
.contacto .container-inputs .info-contacto {
  display: flex;
  margin-top: 20px;
}
.contacto .container-inputs .dudas {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.contacto .container-inputs .dudas #dudas-input {
  height: 110px;
  margin-top: 8px;
}
.contacto .container-inputs button {
  width: 260px;
  height: 40px;
  margin: auto;
  margin-top: 16px;
  color: white;
  background-color: rgba(32, 25, 136, 0.774);
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 120px;
}

.footer {
  background-color: rgba(32, 25, 136, 0.774);
  margin-left: -50px;
  height: 100px;
  margin-top: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.footer .info-promos {
  display: flex;
  align-items: center;
}
.footer .info-promos i {
  font-size: 42px;
  margin-right: 10px;
}

.desc-promos {
  font-size: 12px;
}/*# sourceMappingURL=stylesContacto.css.map */