*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

///////////////////////////////////////////////


//////////////////////////////////////////////////////

.modo-oscuro{
    color: white!important;
    background-color:rgb(37, 35, 35);
    .body{
       background-color:rgb(37, 35, 35)!important;; 
    }
    .elegido{
        color:rgb(37, 35, 35)!important;
        text-shadow: none!important;
        background-color: lightgray!important;
    }
    .elegido::before{
        box-shadow: 0 1rem 0 lightgrey!important;
    }
    .elegido::after{
        box-shadow: 0 -1rem 0 lightgray!important;
    }
    #cantidad{
        background-color: lightgray;
        border: none;
    }
    h2{
        color: rgb(37, 35, 35) !important;
        background-color: lightgrey;
    }
    h3{
        color: lightgrey !important;
        background-color:rgb(37, 35, 35);
    }
    .container-producto{
        background-color:rgb(37, 35, 35)!important;
    }
    .span-carrito{
        background-color: rgb(37, 35, 35)!important;
    }
    .productos-carrito{
        border: 2px solid rgb(37, 35, 35);
        color: rgb(37, 35, 35)!important;
        background-color:  rgba(37, 35, 35, 0.877)!important;
        h2{
            color: lightgray!important;
            background-color: transparent;
        }
        p{
            color: lightgray;
        }

    }
    .productos-vacios{
        color: black!important;
    }
    }


.modo-oscuro-main{
    background-color: lightgray;
}



.body{
    display: flex;
    background-color: rgba(32, 25, 136, 0.822);
}
header{
    background-color: rgba(73, 66, 145, 0.863);
    height: 100vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .aside{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h1{
            color: rgb(255, 255, 255);
            font-size: 36px;
            margin-left: 50px;
            text-shadow: 3px 2px 5px rgba(0,0,0,0.67);
        }
        ul{
            margin-left: -30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 300px;
            li{
                color: white;
                margin-left: 70px;
                font-size: 20px;
                list-style: none;
                display: flex;
                align-items: center;
                margin-top: 20px;
                cursor: pointer;
                text-shadow: 1px 3px 5px rgba(0,0,0,0.6);
                }
                i{
                    width: 26px;
                    margin-right: 10px;

                }
                span{
                    background-color: white;
                    color:rgba(32, 25, 136, 0.527);
                    padding: 4px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    border-radius: 6px;
                    margin-left: 10px;
                }
                .li-oscuro{
                    font-size: 18px;
                }

                a{
                    text-decoration: none;
                    color: white;
                    
                }

            .carrito{
                margin-top: 50px;
            }
            .contacto{
                margin-top: 50px;
            }

            .interruptor{
                position: relative;
                display: inline-block;
                width: 36px;
                height: 18px;
                margin-top: 8px;
                margin-left: 10px;
                background-color: white;
                border-radius: 40px;
                cursor: pointer;
            }
            .interruptor::after{
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                border-radius: 30px;
                background-color:  rgba(73, 66, 145, 0.863);
                left: 1px;
                top: 1px;
                transition: all 0.4s;
            }
            input[type='checkbox']:checked + .interruptor:after {
                transform: translateX(18px);
                background-color:  rgb(37, 35, 35);
              }
              
              input[type='checkbox']:checked + .interruptor {
                background-color: white
              }
              .esconder{
                display: none;
              }

            }

            .cierra{
                font-size: 16px;
                margin-bottom: 50px;

            }
            .cierra:hover{
                text-decoration: underline;
            }
            .elegido{
                padding: 10px;
                border-bottom-left-radius: 12px;
                border-top-left-radius:12px;
                background-color: white;
                color: rgba(32, 25, 136, 0.822);
                font-weight: 600;
                text-shadow: none!important;
                position: relative;
                span{
                    color: white;
                    background-color: rgba(42, 36, 126, 0.822);
                    font-weight: 400;
                }
            }
            .elegido::before{
                content: "";
                position: absolute;
                width: 1rem;
                height: 2rem;
                bottom: 100%;
                right: 0;
                background-color: transparent;
                border-bottom-right-radius: 0.5rem;
                box-shadow: 0 1rem 0 rgb(255, 255, 255);

            }
            .elegido::after{
                content: "";
                position: absolute;
                width: 1rem;
                height: 2rem;
                top: 100%;
                right: 0;
                background-color: transparent;
                border-top-right-radius: 10px;
                box-shadow: 0 -1rem 0 rgb(255, 255, 255);

            }
            .derechos{
                color: gray;
                margin-left: 10px;
                margin-top: 60px;
            }

        }

    }

    

    main{
    background-color: white;
    height: auto;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    padding-left: 50px;
    .productos-carrito{
        width: 97%;
        height: 120px;
        background-color: white;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        border: 2px solid rgba(32, 25, 136, 0.822);
        margin-bottom: 40px;
        background-color:  rgba(32, 25, 136, 0.308);
        box-shadow:
            4.5px 4.5px 3.6px rgba(0, 0, 0, 0.056),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.08),
            30.1px 30.1px 24.1px rgba(0, 0, 0, 0.104),
            100px 100px 80px rgba(0, 0, 0, 0.16)
            ;

        .boton-eliminar{
            font-size: 22px;
            // margin-left: -90px;
            color: rgb(175, 3, 3);
            cursor: pointer;
        }
        .izq{
            display: flex;
            align-items: center;
            margin-left: -100px;
        }
        img{
            object-fit: cover;
            width: 100px;
            height: 100px;
            border-radius: 6px;
            margin-left: 10px;
            border: 1px solid rgba(32, 25, 136, 0.822);
        }
        h2{
            margin-left: -200px;
        }
        input{
            border-radius: 6px;
            border: none;
            font-size: 16px;
            padding-left: 9px;
        }
        .precio{
            display: flex;
            align-items: center;
            margin-left: -60px;
        }
        .cantidad{
            display: flex;
            align-items: center;
            input{
                width: 36px;
                height: 36px;
                margin-left: 16px;
            }
        }

    }
    .buttons{
        display: flex;
        align-items: center;
        justify-content:end;
        width: 97%;
        p{
            font-size: 20px;
        }
        button{
            padding: 12px;
            font-size: 16px;
            margin-left: 20px;
            border-radius: 6px;
            box-shadow:
            4.5px 4.5px 3.6px rgba(0, 0, 0, 0.042),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
            30.1px 30.1px 24.1px rgba(0, 0, 0, 0.078),
            100px 100px 80px rgba(0, 0, 0, 0.12)
            ;
        }
        .vaciar{
            background-color: rgb(189, 14, 14);
            color: white;
            border: 1px solid rgb(189, 14, 14);
        }
        .comprar{
            color: white;
            background-color: rgb(4, 136, 4);
            border: 1px solid rgb(4, 136, 4);
        }
    }

    }




    .body-ecomercce{
        display: block;
        .productos{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .titulos-usuario{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;

            h2{
                margin-left: 12px;
                margin-top: 20px;
                margin-bottom: 40px;
                color:rgba(32, 25, 136, 0.822);
                font-size: 34px;
                text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.315);

            }

            .user{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 50px;
                .modo-oscuro{
                    color: white;
                }
                p{
                    font-size: 20px;
                    color:black;
                    font-weight: 400;
                    margin-top: 8px;
                    span{
                        font-weight: 600;
                        margin-left: 5px;
                    }
                }
                img{
                    width: 38px;
                }
            }
        }
        .productos-vacios{
            font-size: 20px;
        }
    
}
    
    
    
    



