*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    display: flex;
    background-color: rgba(32, 25, 136, 0.822);
}
header{
    background-color: rgba(73, 66, 145, 0.863);
    height: 100vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .aside{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h1{
            color: white;
            font-size: 36px;
            margin-left: 50px;
        }
        ul{
            margin-left: -30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 300px;
            li{
                color: white;
                margin-left: 70px;
                font-size: 20px;
                list-style: none;
                display: flex;
                align-items: center;
                margin-top: 10px;
                cursor: pointer;
                }
                img{
                    width: 26px;
                    margin-right: 10px;
                }
                span{
                    background-color: white;
                    color:rgba(32, 25, 136, 0.527);
                    padding: 4px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    border-radius: 6px;
                    margin-left: 10px;
                }
            .carrito{
                margin-top: 50px;
            }
            .contacto{
                margin-top: 50px;
            }

            }
            .cierra{
                font-size: 16px;

            }
            .cierra:hover{
                text-decoration: underline;
            }
            .elegido{
                padding: 10px;
                border-bottom-left-radius: 12px;
                border-top-left-radius:12px;
                background-color: white;
                color: rgba(32, 25, 136, 0.822);
                font-weight: 600;
            }
            .derechos{
                color: gray;
                margin-left: 10px;
            }
        }

    }

main{
    background-color: white;
    height: auto;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    padding-left: 50px;
    .login-form{
        display: flex;
        flex-direction: column;
    }
    .login-registro{
        height: 500px;
        width: 800px;
        background-color: white;
        border: 4px solid rgb(59, 52, 153);
        position: absolute;
        margin-left: 20%;
        margin-top: 50px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        img{
            width: 100px;
            height: 100px;
            text-align: center;
            margin-top: 50px;
        }
        h2{
            margin-top: 10px;
            font-size: 35px;
        }
        h3{
            font-size: 20px;
            margin-left: 60px;
            color: rgba(0, 0, 0, 0.589);
        }
        .login-form{
            margin-top: 20px;
            input{
                width: 200px;
                height: 24px;
                border-radius: 5px;
                border: 2px solid rgb(107, 105, 105);
                padding: 12px;
                margin-bottom: 10px;
            }
            .button{
                input{
                    padding: 0;
                    height: 30px;
                    width: 100px;
                    border: 2px solid rgba(79, 52, 153, 0.897);
                    background-color: white
                }
            }
            
        }
    }

    .login-registrado{
        height: 500px;
        width: 800px;
        background-color: white;
        border: 4px solid rgb(59, 52, 153);
        position: absolute;
        margin-left: 20%;
        margin-top: 50px;
        border-radius: 10px;
        text-align: center;
        display: none;
        flex-direction: column;
        img{
            width: 100px;
            height: 100px;
            text-align: center;
            margin-top: 50px;
        }
        h2{
            margin-top: 10px;
            font-size: 35px;
        }
        h3{
            font-size: 20px;
            margin-left: 60px;
            color: rgba(0, 0, 0, 0.589);
        }
        .login-form{
            margin-top: 20px;
            input{
                width: 200px;
                height: 24px;
                border-radius: 5px;
                border: 2px solid rgb(107, 105, 105);
                padding: 12px;
                margin-bottom: 10px;
            }
            .incorrecto{
                color: red;
                margin-bottom: 8px;
                display: none;
                
                }
            }
            .button{
                input{
                    padding: 0;
                    height: 30px;
                    width: 100px;
                    border: 2px solid rgba(79, 52, 153, 0.897);
                    background-color: white
                }
            }
            
        }
    }


    .body-ecomercce{
        display: none;
        .titulos-usuario{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            h2{
                margin-left: 12px;
                margin-top: 20px;
                margin-bottom: 40px;
                color:rgba(32, 25, 136, 0.822);
                font-size: 38px;
            }
            .user{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 50px;
                p{
                    font-size: 20px;
                    color:black;
                    font-weight: 400;
                    margin-top: 8px;
                    span{
                        font-weight: 600;
                        margin-left: 5px;
                    }
                }
                img{
                    width: 38px;
                }
            }
    
        }
    
        .container-producto{
            background-color: rgba(32, 25, 136, 0.774);
            width: 280px;
            height: 370px;
            border: 2px solid black;
            border-radius: 10px;
            margin-left: 10px;
                img{
                    width: 276px;
                    height:280px;
                    border-radius: 10px;
                }
                h3{
                    color: white;
                    margin-left: 5px;
                }
                h4{
                    color: white;
                    margin-left: 5px;
                    font-weight: 300;
                }
                .cont-button{
                    display: flex;
                    justify-content: center;
                    button{
                        padding-top: 4px;
                        padding-bottom: 4px;
                        width: 200px;
                        color: rgba(32, 25, 136, 0.774);
                        background-color: white;
                        border: none;
                        border-radius: 10px;
                        margin-top: 4px;
                        font-weight: 600;
                    }
                }
    
        }
}
    
    
    
    



